In [ ]:
# AQI Forecasting System (Mumbai)

#This notebook builds a scalable AQI forecasting system using historical AQI data
#from multiple monitoring stations in Mumbai.

#Key points:
#- Single global LSTM model
#- Station-aware forecasting
#- 7-day AQI prediction
#- Scalable to multiple cities and stationsdb

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [3]:
# Station files (Mumbai)
files = {
    "kurla": "../data/raw/kurla.csv",
    "malad": "../data/raw/malad.csv",
    "andheri": "../data/raw/andheri.csv"
}
dfs = []

for station, path in files.items():
    df = pd.read_csv(path)
    df["date"] = pd.to_datetime(df["date"])
    df["station"] = station
    dfs.append(df)

data = pd.concat(dfs, ignore_index=True)

data.head()

        date  pm25  pm10   o3  no2  so2  co station
0 2026-01-01   116    81   11    2   14   2   kurla
1 2026-01-02   142    88   11    2   14   2   kurla
2 2026-01-03   149    94   11    2   14   3   kurla
3 2026-01-04   154    85   11    2   14   2   kurla
4 2026-01-05   146    91   11    2   14   3   kurla